.gform_wrapper {

	.validation_error {
		display:none;
	}

	ul.gform_fields {
		list-style: none;
		margin-left: 0;

		.gfield_required {
			display:none;
		}

		.gfield_description.validation_message {
			color: red;
			margin-top: -16px;
			margin-bottom: 20px;
			font-size: rem-calc(12);
		}

		.gfield_error .textarea, .gfield_error input {
			border: 1px solid red;
		}
	}

}
