// HEADER STYLES INCLUDING MAIN NAVIGATION

.nav-wrapper {

	.sticky {
		@media #{$large-down} {
			width: 100%;
			#{$default-float}: 0;
			position: fixed;
			top: 0;
			z-index: 99;

			&.expanded:not(.top-bar) {
				overflow-y: auto;
				height: auto;
				width: 100%;
				max-height: 100%;

				.title-area {
					position: fixed;
					width: 100%;
					z-index: 99;
				}
				// Ensure you can scroll the menu on small screens
				.top-bar-section {
					z-index: 98;
					margin-top: $topbar-height;
				}
			}
		}
	}
}

.content {
	background-color:#fff;
	position:relative;
	top: 100%; // there's a js hack for safari in site.js
}

