// HEADER STYLES INCLUDING MAIN NAVIGATION

.nav-wrapper {
	position:relative;
	top: calc(100vh - #{$topbar-height}); // there's a js hack for safari in site.js

	.sticky {
		@media #{$large-down} {
			width: 100%;
			#{$default-float}: 0;
			position: fixed;
			top: 0;
			z-index: 99;

			&.expanded:not(.top-bar) {
				overflow-y: auto;
				height: auto;
				width: 100%;
				max-height: 100%;

				.title-area {
					position: fixed;
					width: 100%;
					z-index: 99;
				}
				// Ensure you can scroll the menu on small screens
				.top-bar-section {
					z-index: 98;
					margin-top: $topbar-height;
				}
			}
		}
	}
}

.content {
	background-color:#fff;
	position:relative;
	top: calc(100vh - #{$topbar-height}); // there's a js hack for safari in site.js
}

.title {
	z-index:100;
	h1 {
		background-image: url(../images/jaredcobb.svg);
		background-repeat: no-repeat;
		height: 48vh;
		width: 40vw;
		max-width: 460px;
		max-height: 360px;
		text-indent: -9999px;
		background-size: contain;
		margin: 0;
		position: relative;
		top: 7%;
		left: 5%;
	}
}

@keyframes bounce {

	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
		opacity: 0.25;
	}
	70% {
		transform: translateY(-20px);
		opacity: 0.8;
	}
	90% {
		transform: translateY(-10px);
		opacity: 1;
	}

}

.arrow-guide {
	position: relative;
	top: calc(100vh - 200px);
	left: 50%;
	margin-left:-20px;
	width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.4;
}

.home .arrow-guide {
	display: none;
}

.bounce {
	animation: bounce 4s 1s 5;
}
